[submodule "ResizeHalf/ResizeHalf"]
	path = ResizeHalf/ResizeHalf
	url = https://github.com/chikuzen/ResizeHalf
[submodule "easyexif/easyexif"]
	path = easyexif/easyexif
	url = https://github.com/mayanklahiri/easyexif
[submodule "zimg/zimg"]
	path = zimg/zimg
	url = https://github.com/sekrit-twc/zimg
[submodule "zlib/zlib"]
	path = zlib/zlib
	url = https://github.com/madler/zlib
[submodule "quazip/quazip"]
	path = quazip/quazip
	url = https://github.com/kanryu/quazip
