[submodule "ResizeHalf/ResizeHalf"]
	path = ResizeHalf/ResizeHalf
	url = https://github.com/chikuzen/ResizeHalf
[submodule "easyexif/easyexif"]
	path = easyexif/easyexif
	url = https://github.com/mayanklahiri/easyexif
[submodule "QtRAR"]
	path = QtRAR
	url = https://github.com/ArchangelSDY/QtRAR
