[submodule "ResizeHalf/ResizeHalf"]
	path = ResizeHalf/ResizeHalf
	url = https://github.com/chikuzen/ResizeHalf
[submodule "zimg/zimg"]
	path = zimg/zimg
	url = https://github.com/sekrit-twc/zimg
[submodule "zlib/zlib"]
	path = zlib/zlib
	url = https://github.com/madler/zlib
[submodule "quazip/quazip"]
	path = quazip/quazip
	url = https://github.com/kanryu/quazip
[submodule "QuickViewer/src/qfullscreenframe"]
	path = QuickViewer/src/qfullscreenframe
	url = https://github.com/kanryu/qfullscreenframe
[submodule "QuickViewer/src/qlanguageselector"]
	path = QuickViewer/src/qlanguageselector
	url = https://github.com/kanryu/qlanguageselector
[submodule "QuickViewer/src/qnamedpipe"]
	path = QuickViewer/src/qnamedpipe
	url = https://github.com/kanryu/qnamedpipe
[submodule "libexpat/libexpat"]
	path = libexpat/libexpat
	url = https://github.com/libexpat/libexpat
[submodule "easyexif/easyexif"]
	path = easyexif/easyexif
	url = https://github.com/mayanklahiri/easyexif
[submodule "QuickViewer/src/qactionmanager"]
	path = QuickViewer/src/qactionmanager
	url = https://github.com/kanryu/qactionmanager
[submodule "exiv2/exiv2"]
	path = exiv2/exiv2
	url = https://github.com/Exiv2/exiv2
