[Desktop Entry]
Name=QuickViewer
Comment=A image viewer application for folders/archives, it can show images very fast
Keywords=viewer;commic;manga;opengl;
Exec=usr/bin/QuickViewer %F
Icon=quickviewer
Terminal=false
Type=Application
Categories=Graphics;Qt;
StartupNotify=true
