sudo: required
dist: trusty

before_install:
  - sudo add-apt-repository --yes ppa:beineri/opt-qt591-trusty
  - sudo apt-get update -qq

install:
  - sudo apt-get -y install qt59base qt59imageformats

script:
  - source /opt/qt59/bin/qt59-env.sh
  - env
  - mkdir build
  - cd build
  - cmake ..
  - make -j
  - make test
